chromadb
huggingface-hub
ipython
ipykernel
ipywidgets
langchain
llama-index
openai
pandas
pandas-dedupe
pdfminer
prawcore
pydantic
python-dotenv
scikit-learn
scipy
simplegmail
spotipy
unstructured
wrapt-timeout-decorator
